{% extends 'base.html' %}

{% block title %}
    אודות
{% endblock %}

{% block body %}

<link rel="stylesheet" href="static/css/about.css">
    {% set page_name = 'אודות המספרה' %}

     <div class="about-section">
        <div class="inner-container">
            <h1>אודות המספרה</h1><br>
            <p class="text">
            בלה בלה בלה
            </p>
            <div class="skills">
                <span>Web Design</span>
                <span>Photoshop & Illustrator</span>
                <span>Coding</span>
            </div>
        </div>
    </div>

    {{ super() }}
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}