<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}General{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/base.css">
    <script src="menu.js"></script>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body dir="rtl">
{% include('menu.html') %}

<div class="main-container">
    {% block body %}

{% endblock %}
</div>


{% block footer %}

{% endblock %}
</body>
</html>