<link rel="stylesheet" href="static/css/menu.css">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="An example of a fixed-position(sticky) top navigation bar that remains visible while the user scrolls the page.">
<meta name="author" content="Six Revisions">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="static/css/base.css">
<link rel="shortcut icon" href="http://sixrevisions.com/favicon.ico">
<header>
    <nav class="fixed-nav-bar">
        <div id="menu" class="menu">
             <a class="show" href="#menu">תפריט</a><a class="hide" href="#hidemenu">תפריט</a>
            <!-- Example responsive navigation menu  -->
            <ul class="menu-items">
                <li><a href="/">דף הבית</a></li>
                <li><a href="/about">אודות</a></li>
                <li><a href="/products">מוצרים</a></li>
                <li><a href="/navigation_map">נווט</a></li>
                <li><a href="/contact_us">צור קשר</a></li>
                <li><a href="/registeration">הרשמה</a></li>
                <li><a href="/reviews">ביקורות</a></li>

                </ul>
        </div>
    </nav>
    <section class="NaviMap">
    <div class="Maps">
    <h1></h1>
    </div>
</section>
</header>


