{% extends 'base.html' %}

{% block title %}
    About
{% endblock %}

{% block body %}

 {% set page_name = 'Navigation Map Page' %}

    <h1>Welcome to {{ page_name }}</h1>

<section class="Navigation_Map">
  <h3>נווט ליעד</h3>
  <p id="address"><b>כתובת: רחוב מרמורק 14, תל אביב</b></p>
  <p id="map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3380.919490417378!2d34.78243958542627!3d32.07142622693398!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151d4b820809824b%3A0xdf2444b3fc5b7cf9!2z157XqNee15XXqNenIDE0LCDXqtecINeQ15HXmdeRLdeZ16TXlQ!5e0!3m2!1siw!2sil!4v1638783884782!5m2!1siw!2sil"
       width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe></p>
</section>

   {{ super() }}
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}
